<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
</head>
<body>
    <h1>About Us</h1>
    <p>Aam Aadmi Party (AAP) MLA Mukesh Ahlawat will take
         oath as a minister of Delhi Chief Minister-designate 
         Atishi's cabinet on Saturday. The Dalit MLA represents
          Delhi's Sultan Pur Majra Assembly constituency.
        The four other Delhi Ministers set to retain Cabinet posts are 
        Kailash Gahlot, Saurabh Bhardwaj, Gopal Rai, and Imran Hussain.
        Ahlawat had contested the 2020 Delhi Assembly elections for the 
        first time from Sultanpur Majra on an AAP ticket. He won the 
        polls with 48,042 votes and replaced Sandeep Kumar, former
         minister for the welfare of Scheduled castes.</p>
    <a href="{% url 'home' %}">Home</a> |
    <a href="{% url 'contact' %}">Contact</a>
</body>
</html>
